.pill{
   height: 120px;
   font-weight: 600;
   text-align: center;      
}
.headpill{
    text-align: center;    
}
.pillText{
    margin-top: 50px
}
.pillClient{
 background-color: darkseagreen;
 color:darkslategray;
}
.pillCompany{
 background-color: gray;
 color: white; 
}
.pillDealStatus{
 background-color: indigo;
 color: white;
}
.pillInterception{
 background-color: yellow;
 color:darkslategray;
}
.pillPriority{
 background-color: violet;
 color:darkslategray;
}
.PillDealSize{
 background-color: yellowgreen;
 color:darkslategray;
}
.pillProduct{
 background-color: thistle;
 color:darkslategray;
}
.pillcard:hover{
    
transform: scale(1.03);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
   
}
.paddingHeader{
    padding-left: 60px;
    padding-right: 90px;
}